!!! 5
%html
  %head
    %title time-caddy
    = haml :'partials/bootstrap_header'
    %link{rel: 'stylesheet', href: '/stylesheets/basic.css'}
  %body
    = haml :'partials/navbar', locals: { user: @user }
    .container-fluid
      .col-md-10.col-md-offset-1
        %p
          time-caddy is a time-tracking app. Its goals are:
          %ul
            %li Make entry as easy as possible. Type in a box, hit enter, and the app will parse things for you.
            %li Produce simple, elegant reports on how you've spent your time.
            %li Provide a way to create plans for periods of time and subsequently review how those plans panned out.
            %li
              Don't do too much else. This is not, by design:
              %ul
                %li a project management system
                %li a billable-hours system
                %li a time card system
        %p
          The app's focus will always be to help users
          %b understand
          how their time is spent so that they can plan better in the future.
