%html
  %head
    %title time-caddy
  %body
    - if logged_in?
      %p
        = "Hello, #{session[:username]}."
        %form{action: '/logout', method: 'post'}
          %div
            %input{type: "submit", value: "Logout"}
    - else
      %p
        Hello, anonymous.
        %a{href: "/login"} Log in
        if you already have an account.
        %a{href: "/signup"} Sign up
        if you don't.
