%html
  %head
    %title time-caddy
  %body
    - if logged_in_user
      %p
        = "Hello, #{logged_in_user.username}."
        %form{action: '/logout', method: 'post'}
          %div
            %input{type: "submit", value: "Logout"}
      %p
        Add an entry:
        %textarea
      %p
        Current entries:
        - logged_in_user.log_entries.each do |log_entry|
          = "Log entry #{log_entry.id}"
    - else
      %p
        Hello, anonymous.
        %a{href: "/login"} Log in
        if you already have an account.
        %a{href: "/signup"} Sign up
        if you don't.
