!!! 5
%html
  %head
    %title time-caddy login
    = haml :'partials/bootstrap_header'
    %link{rel: 'stylesheet', href: '/stylesheets/basic.css'}
  %body
    = haml :'partials/navbar', locals: { user: @user, hide_login: true }

    .container-fluid
      .col-md-4.col-md-offset-4
        = haml :'partials/flash'
        %h2 Login
        %p
          Log in below. If you don't already have an account,
          %a{href: '/signup'} sign up.
          If you have signed up but need a new signup confirmation email,
          %a{href: '/resend_signup_confirmation'} request another one.
          If you have forgotten your password,
          %a{href: '/password_reset_request'} request a reset.
        %form{action: '/login', method: 'post'}
          .form-group
            %label{for: 'username_or_email'} Username or Email
            %input#username_or_email.form-control{type: 'text', name: 'username_or_email'}
          .form-group
            %label{for: 'password'} Password
            %input#password.form-control{type: 'password', name: 'password'}
          .form-group
            %input#submit{type: 'submit', value: 'Login'}
