!!! 5
%html
  %head
    %title time-caddy login
    = haml :_bootstrap_header
    %link{rel: 'stylesheet', href: '/stylesheets/basic.css'}
  %body
    = haml :_navbar, locals: { user: logged_in_user, hide_login: true }

    .container-fluid
      - if flash[:login_alerts]
        .col-md-6.col-md-offset-3
          .flash.login-alerts
            %ul
              - flash[:login_alerts].each do |error_msg|
                %li= error_msg
      .col-md-6.col-md-offset-3
        %p
          Log in below. If you don't already have an account,
          %a{href: '/signup'} sign up.
        %form{action: '/login', method: 'post'}
          .form-group
            %label{for: 'username'} Username
            %input#username.form-control{type: 'text', name: 'username'}
          .form-group
            %label{for: 'password'} Password
            %input#password.form-control{type: 'password', name: 'password'}
          .form-group
            %input#submit{type: 'submit', value: 'Login'}
