!!! 5
%html
  %head
    %title time-caddy reset password request
    = haml :'partials/bootstrap_header'
    %link{rel: 'stylesheet', href: '/stylesheets/basic.css'}
  %body
    = haml :'partials/navbar', locals: { user: @user, hide_login: true }

    .container-fluid
      = haml :'partials/flash'
      .col-md-4.col-md-offset-4
        %h2 Password reset pending
        %p Please check your email and follow the instructions there.
