!!! 5
%html
  %head
    %title time-caddy reset password request
    = haml :_bootstrap_header
    %link{rel: 'stylesheet', href: '/stylesheets/basic.css'}
  %body
    = haml :_navbar, locals: { user: @user, hide_login: true }

    .container-fluid
      = haml :_flash
      .col-md-4.col-md-offset-4
        %p
          Please check your email and follow the instructions there.
