!!! 5
%html
  %head
    %title time-caddy signup
    = haml :_bootstrap_header
    = haml :_jquery
    %link{rel: 'stylesheet', href: '/stylesheets/basic.css'}
  %body
    = haml :_navbar, locals: { user: logged_in_user, hide_login: true }
    .container-fluid
      = haml :_flash
      .col-md-4.col-md-offset-4
        - if settings.email_enabled
          %p We have sent an email to you with a confirmation code. Please enter it below to activate your account.
          %form{action: '/signup_confirmation', method: 'post'}
            .form-group
              %input#username{type: 'hidden', name: 'username', value: @activation_user.username}
            .form-group
              %label{for: 'activation_code'} Confirmation code
              %input#activation_code.form-control{type: 'text', name: 'activation_code'}
            .form-group
              %input#submit.btn.btn-default{type: 'submit', value: 'Confirm'}
        - else
          %p Please contact an admin to activate your account.
