.form-explanation {
  font-size: 85%;
  margin: 1em 0.5em;
}

.flash.signup-errors {
  margin: 1em 0em;
  padding: 1em;
  background-color: pink;
}

.flash.login-alerts {
  margin: 1em 0em;
  padding: 1em;
  background-color: moccasin;
}
