.form-explanation {
  font-size: 85%;
  margin: 1em 0.5em;
}

.flash.errors {
  margin: 1em 0em;
  padding: 1em;
  background-color: pink;
}

.flash.warnings {
  margin: 1em 0em;
  padding: 1em;
  background-color: moccasin;
}

.flash.alerts {
  margin: 1em 0em;
  padding: 1em;
  background-color: aquamarine;
}
